@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@font-face {
    font-family: "NType82-Regular";
    src: url("./assets/fonts/NType82-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3 {
    font-family: "NType82-Regular", serif;
}

.font-ntype {
    font-family: "NType82-Regular", serif;
}

@custom-variant dark (&:is(.dark *));

:root {
    /* Base colors */
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --primary: #00b344;
    --primary-foreground: oklch(0.98 0.02 166);
    --destructive: #f0000d;

    /* Background-based colors */
    --card: oklch(from var(--background) l c h);
    --popover: oklch(from var(--background) l c h);
    --secondary: oklch(
        from var(--background) calc(l - 0.033) calc(c + 0.001) calc(h + 286.375)
    );
    --muted: oklch(
        from var(--background) calc(l - 0.033) calc(c + 0.001) calc(h + 286.375)
    );
    --accent: oklch(
        from var(--background) calc(l - 0.033) calc(c + 0.001) calc(h + 286.375)
    );
    --sidebar: oklch(from var(--background) calc(l - 0.015) c h);
    --sidebar-accent: oklch(
        from var(--background) calc(l - 0.033) calc(c + 0.001) calc(h + 286.375)
    );
    --border: oklch(
        from var(--background) calc(l - 0.08) calc(c + 0.004) calc(h + 286.32)
    );
    --input: oklch(
        from var(--background) calc(l - 0.08) calc(c + 0.004) calc(h + 286.32)
    );
    --sidebar-border: oklch(
        from var(--background) calc(l - 0.08) calc(c + 0.004) calc(h + 286.32)
    );

    /* Foreground-based colors */
    --card-foreground: oklch(from var(--foreground) l c h);
    --popover-foreground: oklch(from var(--foreground) l c h);
    --secondary-foreground: oklch(
        from var(--foreground) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --muted-foreground: oklch(
        from var(--foreground) calc(l + 0.411) calc(c + 0.011) calc(h + 0.115)
    );
    --accent-foreground: oklch(
        from var(--foreground) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --sidebar-foreground: oklch(from var(--foreground) l c h);
    --sidebar-primary-foreground: oklch(0.98 0.02 166);
    --sidebar-accent-foreground: oklch(
        from var(--foreground) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --ring: oklch(
        from var(--foreground) calc(l + 0.564) calc(c + 0.01) calc(h + 0.244)
    );
    --sidebar-ring: oklch(
        from var(--foreground) calc(l + 0.564) calc(c + 0.01) calc(h + 0.244)
    );

    /* Primary-based colors */
    --chart-1: oklch(from var(--primary) calc(l + 0.2) c calc(h + 2));
    --chart-2: oklch(from var(--primary) calc(l + 0.13) calc(c + 0.02) h);
    --chart-3: oklch(
        from var(--primary) calc(l + 0.1) calc(c + 0.05) calc(h - 1)
    );
    --chart-4: oklch(from var(--primary) l c h);
    --chart-5: oklch(
        from var(--primary) calc(l - 0.09) calc(c - 0.08) calc(h + 3)
    );
    --radius: 0.625rem;
    --sidebar-primary: oklch(from var(--primary) l c h);
}

.dark {
    /* Base colors */
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --primary: #03fc62;
    --primary-foreground: oklch(
        from var(--primary) calc(1 - l) calc(c - 0.1) calc(h + 5)
    );
    --destructive: #ff5962;

    /* Background-based colors */
    --card: oklch(
        from var(--background) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --popover: oklch(
        from var(--background) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --secondary: oklch(
        from var(--background) calc(l + 0.133) calc(c + 0.001) calc(h + 0.21)
    );
    --muted: oklch(
        from var(--background) calc(l + 0.133) calc(c + 0.001) calc(h + 0.21)
    );
    --accent: oklch(
        from var(--background) calc(l + 0.133) calc(c + 0.001) calc(h + 0.21)
    );
    --sidebar: oklch(
        from var(--background) calc(l + 0.069) calc(c + 0.001) calc(h + 0.062)
    );
    --sidebar-accent: oklch(
        from var(--background) calc(l + 0.133) calc(c + 0.001) calc(h + 0.21)
    );
    --border: oklch(from var(--foreground) l c h / 10%);
    --input: oklch(from var(--foreground) l c h / 15%);
    --sidebar-border: oklch(from var(--foreground) l c h / 10%);

    /* Foreground-based colors */
    --card-foreground: oklch(from var(--foreground) l c h);
    --popover-foreground: oklch(from var(--foreground) l c h);
    --secondary-foreground: oklch(from var(--foreground) l c h);
    --muted-foreground: oklch(
        from var(--foreground) calc(l - 0.28) calc(c + 0.015) calc(h + 286.067)
    );
    --accent-foreground: oklch(from var(--foreground) l c h);
    --sidebar-foreground: oklch(from var(--foreground) l c h);
    --sidebar-primary-foreground: oklch(0.26 0.05 173);
    --sidebar-accent-foreground: oklch(from var(--foreground) l c h);
    --ring: oklch(
        from var(--foreground) calc(l - 0.433) calc(c + 0.016) calc(h + 285.938)
    );
    --sidebar-ring: oklch(
        from var(--foreground) calc(l - 0.433) calc(c + 0.016) calc(h + 285.938)
    );

    /* Primary-based colors */
    --chart-1: oklch(from var(--primary) calc(l + 0.15) c calc(h + 3));
    --chart-2: oklch(from var(--primary) calc(l + 0.07) c calc(h + 1));
    --chart-3: oklch(from var(--primary) l c h);
    --chart-4: oklch(
        from var(--primary) calc(l - 0.1) calc(c - 0.02) calc(h + 1)
    );
    --chart-5: oklch(
        from var(--primary) calc(l - 0.19) calc(c - 0.05) calc(h + 4)
    );
    --sidebar-primary: oklch(from var(--primary) calc(l + 0.07) c calc(h + 1));
}

@theme inline {
    --font-sans: "Inter Variable", sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

button {
    cursor: pointer;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply font-sans bg-background text-foreground;
    }
    html {
        @apply font-sans;
    }
}
